<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>촛불게임</title>

    <link rel="stylesheet" href="/_css/main.css"></link>
    <script src="/_js/main.js"></script>
</head>
<body>
<canvas id="main"></canvas>
<div id="nameholder" class="name" align="center">
    <input id="name" type="text" autocomplete="off" placeholder="이름"></input>
    <button onclick="submitName()" class="button" maxlength="15">시작!</button><br>
    <p id="info" style="color: red"></p>

    <ul align="left">
        <li>★☆☆☆☆ 진짜 PPT같이 생겼는데</li>
        <li>★☆☆☆☆ 아니 저거 촛불은 대체 어떻게 생각해내신거지 존경</li>
        <li>★☆☆☆☆ PPT로 만드세요</li>
        <li><b>제작자의 말</b>: 여러분이 이렇게 긍정적으로 반응해주시다니 영광입니다 ㅎㅎ<br>시간 없어서 10시간 때려박아서 만들었는데 반응이 좋네요</li>
    </ul>

    <table class="rank" id="ranktable">
        <tr>
            <td>이름</td>
            <td>점수</td>
        </tr>
    </table>
</div>
</body>
</html>
