* { margin:0; padding:0; }
html, body { width:100%; height:100%; }
canvas { display:block; }

#nameholder{
	position: absolute;
	top: 45%;
	left: 40%;

	text-align: center;
}
input[type="text"]{
	width: 300px;
	height: 30px;
}

button{
	width: 50px;
	height: 30px;
	background-color: darkcyan;
}