* { margin:0; padding:0; }
html, body { width:100%; height:100%; }
canvas { display:block; }

#nameholder{
	position: absolute;
	width: 100%;
	top: 45%;

	text-align: center;
}

.title{
	position: fixed;
	top: 35%;
	left: 40%;

	font-size: 3rem;
}

.rank{
	position: fixed;
	bottom: 10%;
	right: 10%;

	border-radius: 10px;
	background-color: rgba(211, 211, 211, 200);
}

ul {
	width: 540px;
	margin: 0 auto;
}

input[type="text"]{
	width: 300px;
	border: none;
	border-bottom: 3px solid darkcyan;
	background: #f0f0f0;
	color: #303030;
	padding: 10px;
}

button{
	background-color: darkcyan;
	border: none;
	display: inline-block;
	color: #fff;
	box-sizing: border-box;
	padding: 10px;
	vertical-align: middle;
}
